/*
	Synchronous by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 5em 0em;
	}
	
		.homepage #header
		{
			padding: 10em 0em;
		}

		#header .container
		{
		}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		margin-bottom: 3em;
	}
	
		#logo h1
		{
			color: #FFF;
		}
	
		#logo h1 a
		{
			display: block;
			letter-spacing: 1px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 4em;
			font-weight: 900;
			color: #FFF;
			/*text-shadow: -1px 0 #8A8A8A, 0 1px #8A8A8A, 1px 0 #8A8A8A, 0 -1px #8A8A8A;*/
		}

		#logo span
		{
			display: block;
			padding-top: 1em;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 1.2em;
			font-weight: 600;
			color: #FFF;
			/*text-shadow: -1px 0 #8A8A8A, 0 1px #8A8A8A, 1px 0 #8A8A8A, 0 -1px #8A8A8A;*/

		}			
			

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav > ul > li
		{
			display: inline-block;
			z-index: 1;
		}
		
			#nav > ul > li:last-child
			{
				padding-right: 0;
			}

			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: block;
				padding: 0.5em 0.5em;
				letter-spacing: 1px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 1.05em;
				outline: 0;
				color: #FFF;
				border-radius: 2px;
				background: #002a5c;
				opacity: .85;
				z-index: -1;
			}


			#nav > ul > li > a:hover
			{
				color: #FFF;
			}

			#nav li.active a
			{
				background: #5c0929;
				border-radius: 2px;
				border-style: solid;
				border-color: #09495c;
				border-width: 4px; 
				color: #FFF;
			}

			#nav > ul > li > ul
			{
				display: none;
			}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner {
		overflow: hidden;
		margin-top: 10px;
		margin-bottom: 30px;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	}

	#banner .banner-border {
		padding: 20px;
		background: #f3f2ed;
	}

	#banner a img {
		display: block;
		width: 100%;
	}

/*********************************************************************************/
/* Page Wrapper                                                                  */
/*********************************************************************************/

	.homepage #page {
		overflow: hidden;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content {
		padding: 30px 30px 30px 30px;
	}

	.twocolumn2 #content {
	}

	.onecolumn #content {
	}

	#content h2 {
	}

/*********************************************************************************/
/* Sidebar    r                                                                  */
/*********************************************************************************/

	#sidebar1 {
		padding: 0px 0px 0px 0px;
	}

	#sidebar1 h2 {
	}

	#sidebar2 {
		padding: 0px 0px 0px 0px;
	}

	#sidebar2 h2 {
	}

/*********************************************************************************/
/* Password Button                                                                      */
/*********************************************************************************/

	input[type=button] {
    border: 2px solid #ebaf70;
    color: #fff;
    background: #7e1f4b;
    padding: 10px 10px;
    border-radius: 3px;
}